[defaults]
host_key_checking = False
timeout = 60
# Явно указываем дефолтный путь к инвентарю для CI/CD раннеров
inventory = inventory.ini

[inventory]
# КРИТИЧНО ДЛЯ GITHUB ACTIONS: Включаем встроенные плагины парсинга
enable_plugins = host_list, script, auto, yaml, ini, toml

[ssh_connection]
# Настройки для стабильной работы сетевых мостов облака без зависания сессий
ssh_args = -o ControlMaster=no -o ControlPersist=no -o ForwardAgent=yes
