[defaults]
host_key_checking = False
timeout = 60

[ssh_connection]
# Отключаем мультиплексирование сокетов, чтобы сетевой мост VirtualBox не вешал сессию
ssh_args = -o ControlMaster=no -o ControlPersist=no
